.warfield {
  width: 98%;
  height: 70vh;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delimiter {
  width: 50px;
  background-color: lightblue;
  opacity: 0.2;
  height: 100%;
}
